  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #060000;
    margin-bottom: 20px;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  