<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title id="titulo">mapa</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div id="mapa-mapbox"></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
