<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PAGINA DE ERROR</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">error</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>ERROR</ion-card-title>
      <ion-card-subtitle>Lo siento se ha cometido un error, presione la siguiente opción para volver al inicio</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item routerLink="/home">
        <ion-icon name="open-outline"></ion-icon>
        <ion-label>VOLVER AL INICIO</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
 
</ion-content>

