<ion-header>
  <ion-toolbar>
    <ion-title>Conductor</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="isConductor" (ionChange)="toggleRole()">

  </ion-segment>

  <!-- Formulario para agregar un nuevo viaje -->
  <div *ngIf="isConductor" >
    <ion-item>
      <ion-label>Conductor: </ion-label>
      <ion-input [(ngModel)]="nuevoViaje.conductor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Inicio: </ion-label>
      <ion-input [(ngModel)]="nuevoViaje.inicio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Destino: </ion-label>
      <ion-input [(ngModel)]="nuevoViaje.destino"></ion-input> 
    </ion-item>
    <ion-item>
      <ion-label>Asientos Disponibles: </ion-label>
      <ion-input [(ngModel)]="nuevoViaje.asientosDisponibles" type="number"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="crearViaje()">Crear Viaje</ion-button>
  

  <!-- Mostrar el mapa --><!-- HTML -->
   

    <div id="mapa-mapbox"></div>
 
 
  </div>

</ion-content>
