<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

  <!-- Barra de búsqueda -->
  <div class="search-form-wrapper" *ngIf="isSearchVisible">
    <ion-toolbar>
      <ion-input type="search" placeholder="Buscar destino" [(ngModel)]="searchQuery"></ion-input>
      <ion-button (click)="performSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleSearch()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <div class="welcome-message">
    <h1>¡Bienvenido, Pasajero!</h1>
    <h2>Elige un viaje</h2>
  </div>

 

  <div *ngFor="let viaje of viajes" class="viaje-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ viaje.conductor }} - {{ viaje.inicio }} a {{ viaje.destino }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Asientos Disponibles:</strong> {{ viaje.asientosDisponibles }}</p>

        <ion-button expand="full" color="primary" (click)="seleccionarViaje(viaje)" [disabled]="viajeSeleccionado !== null">
          Seleccionar Viaje
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="viajeSeleccionado">
    <ion-button color="success" expand="full" (click)="confirmarViaje()">¡Viaje confirmado!</ion-button>
  </div>
</ion-content>
