<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Quién eres?</ion-card-title>
        <ion-card>
          Recupera tu cuenta ingresando tu correo electrónico o nombre de usuario.
        </ion-card>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input
              label="Correo electrónico"
              type="email"
              labelPlacement="floating"
              placeholder="ejemplo@correo.com"
              [(ngModel)]="user.email">
            </ion-input>
          </ion-item>

          <!-- Mensaje de error si hay un problema -->
          <ion-text color="danger" *ngIf="msj">
            <p>{{ msj }}</p>
          </ion-text>

          <!-- Botón de conexión -->
          <ion-button expand="full" shape="round" color="tertiary" (click)="conectar()" id="btnLogin">Siguiente</ion-button>

          <ion-button expand="full" shape="round" fill="outline" color="medium" (click)="goHome()">
            Volver
          </ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

