<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Quién eres?</ion-card-title>
        <p>
          Recupera tu cuenta ingresando tu correo electrónico o nombre de usuario.
        </p>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <!-- Campo para ingresar el correo -->
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input
              label="Correo electrónico"
              type="email"
              labelPlacement="floating"
              placeholder="ejemplo@correo.com"
              [(ngModel)]="user.email">
            </ion-input>
            <ion-icon
              name="close-outline"
              *ngIf="user.email"
              slot="end"
              (click)="user.email = ''">
            </ion-icon>
          </ion-item>

          <!-- Mensaje de error si hay un problema -->
          <ion-text color="danger" *ngIf="msj">
            <p>{{ msj }}</p>
          </ion-text>

          <!-- Botón para validar el correo -->
          <ion-button
            expand="full"
            shape="round"
            color="tertiary"
            (click)="conectar()"
            id="btnLogin">
            Siguiente
          </ion-button>

          <!-- Botón para volver al inicio -->
          <ion-button
            expand="full"
            shape="round"
            fill="outline"
            color="medium"
            (click)="goHome()">
            Volver
          </ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
